:root {
  --crop-top: 15vh;
  --crop-vertical: 30vw;
  --blob-size: 20vh;
}

/*
using transforms only should lead to better performance but they
can't be combined because they use the same property.
workaround could be wrapping blob into multiple divs
*/
/* 
@keyframes vertical {
  100% {
    transform: translateY(calc(100vw - var(--crop-vertical)));
  }
}

@keyframes horizontal {
  100% {
    transform: translateX(calc(100vw - var(--crop-vertical)));
  }
}

@keyframes stretch {
  100% {
    transform: scaleX(4);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
*/

@keyframes updown {
  0% {
    top: 110%;
  }
  50% {
    top: 0;
  }
  100% {
    top: 110%;
  }
}

@keyframes leftright {
  0% {
    left: 0;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0;
  }
}

@keyframes vastag {
  0% {
    width: 10vh;
  }
  50% {
    width: 32vh;
  }
  100% {
    width: 10vh;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: black;
  margin: 0;
}

#frame {
  margin: var(--crop-top) auto 0 auto;
  width: calc(100vw - var(--crop-vertical));
  height: calc(100vh - var(--crop-top));
  clip-path: url(#mask);
}

#filter {
  width: 100%;
  height: 100%;
  filter: contrast(20);
  background: black;
  overflow: hidden;
}

.blob {
  position: absolute;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  background: rgb(184, 126, 50);
  filter: blur(25px);
}

.blob:nth-of-type(3n) {
  background: white;
}
